  <!-- Navigation -->
  <nav class="main-nav">
    <div class="nav-container">
      <ul class="nav-list">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <i class="fas fa-home"></i>Accueil
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/texts/index.html">
            <i class="fas fa-lightbulb"></i>Textes
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/hints/hints.html">
            <i class="fas fa-lightbulb"></i>Conseils
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/learn-your-verbs/index.html">
            <i class="fas fa-book-open"></i>Verbes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stories/index.html">
            <i class="fas fa-clock"></i>L'heure du conte
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="vocabulaireDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-utensils"></i>Vocabulaire
          </a>
          <div class="dropdown-menu" aria-labelledby="vocabulaireDropdown">
            <a class="dropdown-item" href="/lesanimaux-vocabulary/index.html">
              <i class="fas fa-paw"></i> Les Animaux
            </a>
            <a class="dropdown-item" href="/vocab/kitchen/">
              <i class="fas fa-utensils"></i> Cuisine
            </a>
            <a class="dropdown-item" href="/vocab/bathroom/">
              <i class="fas fa-bath"></i> Salle de Bain
            </a>
            <a class="dropdown-item" href="/vocab/vetements/">
              <i class="fas fa-bath"></i> vêtements
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">
            <i class="fas fa-info-circle"></i>À propos
        </a>
        </li>

{% if current_user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="/speaker">
          <i class="fas fa-sign-out-alt"></i>parler
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/logout">
          <i class="fas fa-sign-out-alt"></i>se déconnecter ({{ current_user.username }})
        </a>
    </li>
{% else %}
    <li class="nav-item">
        <a class="nav-link" href="/login">
          <i class="fas fa-sign-in-alt"></i>se connecter
        </a>
    </li>
    {% endif %}
	
      </ul>
    </div>
  </nav>
