<nav class="main-nav">
  <div class="nav-container">
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" href="/index.html">
          <i class="fas fa-home"></i>Accueil
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hints/hints.html">
          <i class="fas fa-lightbulb"></i>Conseils
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stories/index.html">
          <i class="fas fa-book-open"></i>Histoires
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stories/index.html">
          <i class="fas fa-clock"></i>L'heure du conte
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="vocabulaireDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-utensils"></i>Vocabulaire
        </a>
        <div class="dropdown-menu" aria-labelledby="vocabulaireDropdown">
          <a class="dropdown-item" href="/lesanimaux-vocabulary/tst-1.html">
            <i class="fas fa-paw"></i> Les Animaux
          </a>
          <a class="dropdown-item" href="/kitchen-vocabulary/index.html">
            <i class="fas fa-utensils"></i> Cuisine
          </a>
          <a class="dropdown-item" href="/bathroom-vocabulary/index.html">
            <i class="fas fa-bath"></i> Salle de Bain
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about.html">
          <i class="fas fa-info-circle"></i>À propos
        </a>
      </li>
    </ul>
  </div>
</nav>

