<!DOCTYPE html>
<html lang="fr">
<head>
  {% include "partials/head.html" %}
  <style>
    body {
      background-color: #fffdfd;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    /* Main story area: start about 1/3 across the screen */
    main.story-main {
      margin-left: 33%;
      max-width: 600px;
      text-align: left;
    }
  </style>
</head>
<body>
  {% include "partials/header.html" %}

  {% include "partials/nav.html" %}

  <main class="story-main my-4">
    {% block content %}{% endblock %}
  </main>

  {% include "partials/footer.html" %}
</body>
</html>

